/* Style the main-header */

*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
.navbar{
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.logo img {
  width: 80px;
  height: 80px;
  margin-top: 10px;
  margin-left: 40px;
  opacity: 0.8;
}

.nav-links {
  list-style: none;
  
}

.nav-links li {
  display: inline-block;
  padding:  15px;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  font-weight: bold;
}

.nav-links a {
  text-decoration: none;
  color: #fffefe;
}

.login-signup {
  display: flex;
  align-items: center;
  margin-right: 40px;
}

.login-signup button{
  background-color:#ffd836; 
  border: none;
  color: #33444C;
  padding: 10px 20px;
  text-align: center;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  font-weight: 500;
  display: inline-block;
  font-size: 16px;
  border-radius: 10px;
  transition: 0.3s;
}

.login-signup button:hover {
  opacity: 0.8;
}


.navbar a:hover{
  color: #ffd836;
}



/*content */

body{
  background-image: linear-gradient( 109.6deg,  rgba(0,0,0,1) 11.2%, rgba(11,132,145,1) 91.1% );
  background-size: cover;
  background-repeat: no-repeat;
  overflow-x: hidden;
  width: 100%;
  flex-direction: column;
  min-height: 100vh;
}

.hero-content{
  color: white;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-left: 5vw;
}

.availabitiy-box{
  padding: 5vh;
}

.hero-image {
  height: 50%;
  width: 50%;
  margin-right: 5vw;
}

.hidden{
  display: none;

}

/* Style the main-header */

*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
.navbar{
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.logo img {
  width: 80px;
  height: 80px;
  margin-top: 10px;
  margin-left: 40px;
  opacity: 0.8;
}

.nav-links {
  list-style: none;
  
}

.nav-links li {
  display: inline-block;
  padding:  15px;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  font-weight: bold;
}

.nav-links a {
  text-decoration: none;
  color: #fffefe;
}

.login-signup {
  display: flex;
  align-items: center;
  margin-right: 40px;
}

.login-signup button{
  background-color:#ffd836; 
  border: none;
  color: #33444C;
  padding: 10px 20px;
  text-align: center;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  font-weight: 500;
  display: inline-block;
  font-size: 16px;
  border-radius: 10px;
  opacity: 0.8;
  transition: 0.3s;
}

.login-signup button:hover {
  opacity: 1;
}


.navbar a:hover{
  color: #ffd836;
}



/*content */

body{
  background-image: linear-gradient( 109.6deg,  rgba(0,0,0,1) 11.2%, rgba(11,132,145,1) 91.1% );
  background-size: cover;
  background-repeat: no-repeat;
  overflow-x: hidden;
  width: 100%;
  flex-direction: column;
  min-height: 100vh;
}

.hero-content{
  color: white;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-left: 5vw;
}

.availabitiy-box{
  width: 450px;
  padding: 20px;
  border: 2px solid #ebe7e7;
  border-radius: 5px;
  margin: 0 auto;
  background-color: none;
  padding:50px;
}

label {
  padding: 50px;
}
.hero-image {
  height: 50%;
  width: 50%;
  margin-right: 5vw;
}

.hidden{
  display: none;

}


.boxR {
  display: flex;
  justify-content: space-between;
  padding-right: 20px;
}

.testimonial{
padding-top: 40px;
color:white;
text-align: center;
font-size: 36px;
padding-bottom: 30px;
font-family:Georgia, 'Times New Roman', Times, serif;
}


.boxR {
display: flex;
justify-content: space-between;
padding-right: 20px;
}

.box4, .box5, .box6{
width: 25%;
}
.box4{
margin-left: 60px;
}
.box6{
margin-right:60px;
}

.box4, .box5, .box6{
border: 3px solid lightgreen;
background-color: lightblue;
height: 350px;
border-radius: 20px;
}


h1{
font-style: italic; 
text-align: center;
}
.p4,.p5, .p6{
font-style: italic;
padding: 15px;
}

.man1, .man2, .man3 {
border-radius: 50%;
margin-left:130px;
margin-top:20px;
}

#lines{
margin-top:50px;
}
.line {
width: 100%;
height: 1px;
background-color: white;
margin-top: 5px;
}  

/* faq*/

.wrapper{
  max-width: 75%;
  margin: auto;
}

.wrapper >p,
.wrapper >h1{
  margin: 1,Srem 0;
  text-align: center;
}

.wrapper >h1{
  letter-spacing: 3px;
}

.accordion{
  background-color: white;
  color: rgba(0, 0,0, 0.8);
  cursor: pointer;
  font-size: 1.2rem;
  width: 100%;
  padding: 2rem 2.5rem;
  border: none;
  outline: none;
  transition: 0.4s;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-weight: bold;
}

.accordion i{
  font-size: 1.6rem;
}
.active,
.accordion:hover{
  background-color: #f1f7f5;
}
.pannel{
  padding: 0 2rem 2.5rem 2rem;
  background-color: white;
  overflow: hidden;
  background-color: #f1f7f5;
  display: none;
}
.pannel p{
  color: rgba(0, 0,0, 0.7);
  font-size: 1.2rem;
  line-height: 1.4;

}
.faq{
  border: 1px solid rgba(0, 0,0, 0.7);
  margin: 10px 0;
}
.faq.active{
  border: none;
}


/* Style the footer */

footer {
  background-color: grey;
  text-align: center;
  color: white;
  padding: 10px;
  width: 100%;
  margin-top: auto;
}



  